@import url("https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap");

.navbar .container-fluid {
  padding: 0 0;
}

.navbar {
  box-sizing: border-box;
  padding: 0 !important;
}

.btn-tgl:focus {
  box-shadow: none;
}

.btn-tgl {
  border: none;
  margin: auto 2rem !important;
}

.icon {
  width: 3rem;
  height: 3rem;
}

.navbar .nav-item .last {
  border: none;
}

.navbar .nav-link {
  line-height: 4rem;
  margin: 1.5rem 0;
  padding: 0 3rem !important;
  color: #5f5f5f;
  border-right: 2px solid #0066ff;
}

.navbar .nav-item:hover {
  background-color: #cde0ff;
}

.navbar .nav-item {
  padding: 0;
  font-family: "Cabin", sans-serif;
  font-weight: 700;
  font-size: 3rem;
  background-color: #f1f1f1;
}

.navbar .active {
  background-color: #cde0ff;
}

.btn-home {
  border: none;
  margin: auto 2.4rem;
  font-family: "Inter", sans-serif;
  color: #515151;
  font-style: normal;
  font-weight: 600;
  font-size: 2.5rem;
}

.btn-aboutus {
  border: none;
  margin: auto 2.4rem;
  font-family: "Inter", sans-serif;
  color: #515151;
  font-style: normal;
  font-weight: 400;
  font-size: 2.6rem;
}

.btn-logout {
  background: rgba(255, 255, 255, 0.79);
  border: 1px solid #000000;
  border-radius: 4px;
  padding: 1.2rem 2.4rem;
  margin: auto 1.6rem auto 1.6rem;
  font-family: "Cabin";
  font-style: normal;
  font-weight: 500;
  font-size: 3rem;
  line-height: 2.4rem;
}

.bg-secondary {
  background-color: #f1f1f1!important;
}

.bg-primary {
  background-color: #cde0ff !important;
}


html {
      font-size: 62.5% !important;
}
